.MMM-LoLeSports .leaguetable {
    border-collapse: collapse;
}

.MMM-LoLeSports .leagueheader {
    font-weight: bolder;
    border-top: 2px white;
    text-align: left;
}

.MMM-LoLeSports .team1header {
    font-weight: bold;
    border-top: 2px white;
    text-align: left;
}

.MMM-LoLeSports .team2header {
    font-weight: bold;
    border-top: 2px white;
    text-align: right;
}

.MMM-LoLeSports .versusheader {
    font-weight: bold;
    border-top: 2px white;
    text-align: center;
}

.MMM-LoLeSports .league {
    text-align: left;
}
.MMM-LoLeSports .team1 {
    font-size: small;
    text-align: left;
}

.MMM-LoLeSports .team2 {
    font-size: small;
    text-align: right;
}

.MMM-LoLeSports .versus {
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
}