.MMM-LoLeSports .th {
    background-color: #b0b0b0;
    color: white;
}

.MMM-LoLeSports .tr:nth-child(even) {background-color: #5f5f5f;}
.MMM-LoLeSports .tr:nth-child(odd) {background-color: #000000;}
.MMM-LoLeSports .td:first-child {
    font-weight: bold;
}
.MMM-LoLeSports .td:nth-child(1n){
    font-weight: lighter;
}

.MMM-LoLeSports .td:nth-child(2n){
    font-weight: lighter;
}
