.MMM-LoLeSports .tableheader {
    border-top: thick white;
}

.MMM-LoLeSports .headcell {
    font-weight: bolder;
}

.MMM-LoLeSports .league {
    font-weight: bold;
}
.MMM-LoLeSports .team1 {
    font-weight: lighter;
}

.MMM-LoLeSports .team2 {
    font-weight: lighter;
}

.MMM-LoLeSports .versus {
    font-weight: bolder;
    padding-left: 2px;
    padding-right: 2px;
}