/*
 *
 * MMM-eSports
 *
 * Martin Gaiser
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */
 
 .MMM-eSports .leaguetable {
    border-collapse: collapse;
    color: white;
    text-align: center;
}

.MMM-eSports .th {
    border-bottom: 2px solid white;
}

.MMM-eSports .leagueCell{
    padding-left: 15px;
    padding-right: 15px;
}

.MMM-eSports .td{
    font-size: 0.8em;
}

.MMM-eSports .versuscell {
    padding-left: 15px;
    padding-right: 15px;
}

.MMM-eSports .leagueIcon {
    max-width: 1em;
    max-height: 1em;
    background-color: white;
    border-radius: 20%;
}

.MMM-eSports .teamIcon {
    max-width: 1em;
    max-height: 1em;
    background-color: white;
    border-radius: 20%;
}